# SQL – Veriye erişim yöntemleri
Veri, her zaman CSV formatında ve kullanıma hazır bir biçimde olmayabilir. Genellikle veriler, veri tabanlarında muhafaza edilir. Veri, salt bir analiz için gereken bilgiden çok daha fazlasını içerecek şekilde veri tabanı tablolarında yer almaktadır.

Bu dersimizde, SQL "Structured Query Language" kullanarak veri tabanından işimize yarayacak veriyi çıkarmak ve işlemek için gerekli adımların üzerinden geçeceğiz.

SQL, bir çok veri tabanı programında kullanılan ortak dildir. Yapacağınız analizlere destek olması için, SQL aracılığıyla çok büyük veri setlerini sorgulayabilir, verileri sıralayabilir ve işleyebilirsiniz. Bu dersin sonunda aşağıdaki konularda bilgi sahibi olacak ve veri biliminde gerekli olacak temel veri tabanı erişimi kavramlarına aşinalık kazanacaksınız:

- Veriyi sorgulama - SQL kullanım becerisi
- Temel veri gruplama ve kümeleme işlemleri (grouping and aggregation)
- Bir çok veri tabanı tablosunu birlikte sorgulama (join)
- Gelişmiş sorgulama için ortak tablo tanımı (CTE – common table expression)

# 1. SQL hakkında Temel Bilgiler

## 1.1. SQL CREATE cümlesi
MySQL veri tabanı yönetim sistemini kurarak gerekli ayarları yapmış; veri tabanı ve tablo kavramlarına aşinalık kazanmıştık.

Veri tabanında yeni bir tablo tanımlamak için, CREATE TABLE komutu kullanılır. Örnek tablo tanımı:

CREATE TABLE tabloismi (
sütun_ismi TYPE sütun_kısıtlama_tanımı,
diğer_sütun_ismi TYPE,
başka_bir_sütun_ismi TYPE
);

CREATE TABLE dan sonra tablo ismi verilmelidir. Tablo tanımlarken aşağıdaki gelenekler, adetler takip edilebilir:

- tablo isimleri için küçük harfler kullanınız.
- tablo isimlerinde boşluk karakteri kullanmayınız. Eğer tablo ismi birden fazla kelime içerecekse, bunları altçizgi "_" ile birleştirin. Örnek, ogrenci_bolum
- Bu yüzden tablo isimlerinizde çift tırnak kullanmaktan kaçının.
- Anlamlı ve tutarlı tablo isimleri kullanınız.

## 1.2. SELECT ... FROM komutu
SELECT komutu tablodan veri sorgulamak için kullanılır, select ve from ifadelerinden oluşur.

En temel SQL sorgusu SELECT * FROM tabloismi;

Bu sorgu ismi verilen tablodaki tüm kayıtları tüm sütunlarla birlikte döndürür. "Tablodaki tüm kayıtları tüm sütunların değerleri ile birlikte bana getir" demektedir.

Hangi sütunları istediğimiz konusunda daha seçici davranabiliriz: SELECT sütun1, sütun2, .. FROM tablo

Sorgu sonuçlarını sunmak için bazı temel yöntemler mevcut. İlk olarak alias kullanımından bahsedebiliriz. Veri tabanı tablosundaki sütun ismini farklı bir şekilde sunmanıza/göstermenize yarar.

### Önemli bir diğer husus: select * ifadesi
Çoğu zaman bir sorgu ile bir tablodan bazı bilgileri, alanları getiririz. Bazen de, mevcut tüm sütunları sorgulamak istersiniz. Sütun isimlerini tek tek yazmak yerine, SQL, tüm sütunları temsil edecek özel bir sembol sunar.

# 1.3. WHERE koşulu ile Filtreleme
Şu ana kadar SELECT .. FROM komutunu kullanarak bir tablodaki tüm kayıtların tüm ya da seçili sütunlarını nasıl sorgulayacağımızı öğrendik.

Peki, belirli bir koşulu sağlayan kayıtları istediğimizde ne yapmalıyız?

Örneğin, "müşteri numarasına göre" belirli bir müşterinin siparişlerini sorgulamak istiyoruz. Ya da belirli bir tarihten önceki banka transferleriyle ilgileniyoruz. WHERE anahtar kelimesi burada devreye giriyor.

WHERE ifadesi, hangi kayıtlarla ilgilendiğimiz hususunda bir takım koşullar tanımlamamıza izin verir:

WHERE,

karşılaştırma operatörleri aracılığıyla (=, >, >=, vb.)., bir ya da bir kaç koşulun karşılanması sağlanabilir,
LIKE operatörü metin tipindeki veri için örüntü eşitliği amacıyla kullanılabilir,
BETWEEN operatörü bir değerin, diğer değerlerin arasında olup olmadığını tespit etmek için kullanılır.
ve tabi ki AND ve OR operatörleri WHERE bloğunun vazgeçilmezi, olmazsa olmazıdır.
# 1.4. ORDER ile Sıralama
ORDER BY verinin sıralı bir biçimde döndürülmesini sağlar. Bir ya da bir kaç sütuna göre artan ya da azalan yönde sıralama yapabilirsiniz.

Aşağıdaki örnekte customerNumber, customerName, creditLimit alanlarını customers tablosundan sorguluyoruz: country USA olan kayıtları istiyoruz. ORDER BY ifadesiyle de, dönen sonucun müşteri numarasına göre azalan sırada olmasını istiyoruz.

SELECT
customerNumber,
customerName,
creditLimit
FROM
customers
WHERE country='USA'
ORDER BY customerNumber DESC;

Eğer yukarıdaki sorguyu, sayısal değerler içeren
creditLimit alanı ile sınırlandırmak istersek bu durumda:

SELECT
customerNumber,
customerName,
creditLimit
FROM
customers
WHERE creditLimit > 200000
ORDER BY customerNumber DESC;

# 1.5. LIMIT ile Sınırlı Sayıda Sonuç
limit ifadesi dönülen kayıt sayısını sınırlamanıza olanak verir. Daha önce yazdığımız bir sorguya limit ifadesini ekleyelim. Yukarıdaki koşulları sağlayan kredi limiti en yüksek creditLimit 3 müşteriyi sorgulayalım:

SELECT
customerNumber,
customerName,
creditLimit
FROM
customers
WHERE country='USA'
ORDER BY creditLimit DESC
limit 3;

# 1.6. SQL Sorguları için Format Gelenekleri
SQL, bilgisayar dillerinin içinde en okunur olanlarından biridir. İsteğe bağlı olmakla birlikte(zorunlu değil) tavsiye edilen bazı kuralları uygulayarak sorgularınızın okunurluğunu daha da artırabilirsiniz:

- Select komutunda her sütunu bir içerlek yapınız.
 
- FROM, WHERE ve ORDER BY blokları için Select ile aynı seviye içerlek kullanınız.

- Benzer şekilde tek satırda sadece anlamlı tek ifade kullanınız.

- SQL jargonundaki özel isimleri, fonksiyon isimlerini ve benzerlerini büyük harfle yazınız.

- sütun/tablo isimlerini referans verirken sütun ve tablo isimlerini aynen muhafaza ederek kullanınız.

- Büyük küçük harf kullanımında tutarlı olunuz, ancak SQL in büyük/küçük harfe duyarlı olmadığını ve tab, new line karakterlerini önemsemediğini unutmayınız.